<br /><br />
<!-- this is footer -->
<section>
  <div
    class="container"
    style="
      background-color: #f0bb78;
      color: black;
      font-weight: 700;
      border-radius: 10px;
      box-shadow: inset 7px 7px 7px #ebc798, inset -7px -7px 10px #856534;
    "
  >
    <div class="container">
      <div class="row" style="background-color: #f0bb78; align-items: center">
        <div class="col-md-8 fs-1 p-5">
          <h3 class="txt">Let's Make Something <br />Together.</h3>
        </div>
        <div class="col-md-4 mt-3 text-center">
          <button
            class="btn fw-bold fs-5 bounce-btn"
            style="background-color: #543a14; color: white; border: none"
          >
            Let's Talk
          </button>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6">
          <h2 class="txt">LOGO</h2>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ab
              quas beatae, impedit quibusdam quod provident, suscipit veritatis
              quisquam possimus distinctio rem? Velit nulla a modi expedita
              corporis.
            </p>
            <a href=""
              ><font color="black"
                ><i class="fa-brands fa-instagram me-5 fs-3"></i></font
            ></a>

            <a href=""
              ><font color="black"
                ><i class="fa-brands fa-whatsapp me-5 fs-3"></i></font
            ></a>
            <a href=""
              ><font color="black"
                ><i class="fa-brands fa-twitter me-5 fs-3"></i></font
            ></a>
          </div>
        </div>
        <div class="col-md-2 fw-bold mt-3">
          <h4 class="fs-5">Quick Links</h4>
          <ul style="list-style: none; align-items: center">
            <li>
              <a href=""><font color="black">Home</font> </a>
            </li>
            <li>
              <a href=""><font color="black">About</font> </a>
            </li>
            <li>
              <a href=""><font color="black">Project</font> </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 fw-bold mt-3">
          <h4 class="fs-5">Company</h4>
          <ul style="list-style: none; align-items: center">
            <li>
              <a href=""><font color="black">About</font> </a>
            </li>
            <li>
              <a href=""><font color="black">Contact</font> </a>
            </li>
            <li>
              <a href=""><font color="black">Message</font> </a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 fw-bold mt-3">
          <h4 class="fs-5">Office</h4>
          <ul class="mt-2" style="list-style: none">
            <li>
              <a href=""
                ><font color="black"
                  ><i class="fa-solid fa-location-dot"></i></font
              ></a>
              2465 Royal Ln. Mosa, Now Jersery 45463
            </li>
            <li>
              <a href=""
                ><font color="black">
                  <i class="fa-solid fa-envelope"></i></font></a
              >logo123&#64;gmail.com
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--footer detail-->
    <p class="text-center">LOGO - All Right Reserved 2025.</p>
  </div>
</section>
