<section>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <div class="container-fluid">
        <a
          class="navbar-brand"
          href="/"
          style="font-size: 2.5rem; color: white; font-weight: 750"
          ><em>PATHAN</em></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mynavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto" style="gap: 20px; font-size: 1.5rem">
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            @if(user=='none') {
            <li class="nav-item">
              <a class="nav-link" href="/sign_up">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/log_in">Log in</a>
            </li>
            } @else {
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="logout()"
                ><button>Log out</button></a
              >
            </li>
            }
          </ul>
        </div>
      </div>
    </nav>
  </div>
</section>
