<section>
  <div class="container text-center mt-5 md-6">
    <form action="">
      <div class="new">
        <h2 class="fs-1 fw-bold mb-5 mt-2">Contact us</h2>

        <input
          type="email"
          class="form-control w-10 mx-auto mb-3"
          placeholder="Enter your name"
        />
        <input
          type="password"
          class="form-control w-10 mx-auto mb-3"
          placeholder="Email address"
        />
        <input
          type="password"
          class="form-control w-10 mx-auto mb-3"
          placeholder="Subject"
        />
        <textarea
          type="text"
          class="form-control w-10 mx-auto mb-3"
          placeholder="Type your Message"
        >
        </textarea>
        <div class="mt-4">
          <button class="btn fw-bold">Send Message</button>
        </div>
      </div>
    </form>
  </div>
</section>
