input {
  border: none;
  outline: none;
  background: none;
  color: white;
}
input {
  transition: background-color 0.5s ease;
}

input::placeholder {
  color: white;
  font-weight: 700;
}
input:focus {
  background-color: #f0bb78;
  color: white;
  font-weight: 700;
}
textarea {
  border: none;
  outline: none;
  background: none;
}
textarea {
  transition: background-color 0.5s ease;
}
textarea::placeholder {
  font-weight: 700;
  color: white;
}

textarea:focus {
  background-color: #f0bb78;
  color: white;
  font-weight: 700;
}
.btn {
  background-color: #543a14;
  color: white;
}
.new {
  height: 400px;
  width: 50%;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 50px rgba(79, 77, 77, 0.2);
  background: transparent;
  backdrop-filter: blur(10px);

  margin: auto;
}
