<section>
  <div class="container text-center mt-5">
    <form action="">
      <div class="new">
        <h2 class="fs-1 fw-bold mb-5 mt-2">Ragistration form</h2>
        <input
          type="text"
          class="form-control w-10 mx-auto mb-3"
          placeholder="Enter your first name"
        />
        <input
          type="text"
          class="form-control w-10 mx-auto mb-3"
          placeholder="Enter your last name"
        />
        <input
          type="number"
          class="form-control w-10 mx-auto mb-3"
          placeholder="Enter your number"
        />
        <input
          type="email"
          class="form-control w-10 mx-auto mb-3"
          placeholder="Enter your email"
        />
        <input
          type="password"
          class="form-control w-10 mx-auto"
          placeholder="Enter your password"
        />
        <div class="mt-4">
          <button class="btn w-50 fw-bold">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>
