<!-- Heading -->
<main>
  <section>
    <div class="container mt-5">
      <h1>
        Hello, I'm <br />
        a Fullstack Developer
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing <br />
        aliquam minima dignissimos? est laborum saepe <br />
        tenetur facere?
      </p>
      <button><a href=""></a>Hire Me</button>
    </div>
  </section>
  <br /><br />
  <!-- my work -->
  <div class="container">
    <div class="row">
      <h3 class="fs-1 text-center fw-bold mb-4">MY WORK</h3>

      <div class="col md-4">
        <div class="work">
          <img
            class=""
            src="https://images.unsplash.com/photo-1467232004584-a241de8bcf5d?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
        </div>
      </div>
      <div class="col md-8 mt-3">
        <div>
          <h2 class="fs-3">1 :- PROJECT DETAILS</h2>
          <hr />
          <p class="fs-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            quis, possimus magnam corporis voluptates tempora iste cum expedita
            in. Repellat, accusamus quos culpa veritatis consectetur officia
            autem alias blanditiis qui?Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Tempore quis, possimus magnam corporis voluptates
            tempora iste cum expedita in. Repellat, accusamus quos culpa
            veritatis consectetur officia autem alias blanditiis qui?Lorem ipsum
            dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col md-8 mt-2">
        <div>
          <h2 class="fs-3">2 :- PROJECT DETAILS</h2>
          <hr />
          <p class="fs-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            quis, possimus magnam corporis voluptates tempora iste cum expedita
            in. Repellat, accusamus quos culpa veritatis consectetur officia
            autem alias blanditiis qui?Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Tempore quis, possimus magnam corporis voluptates
            tempora iste cum expedita in. Repellat, accusamus quos culpa
            veritatis consectetur officia autem alias blanditiis qui?Lorem ipsum
            dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="col md-8 mt-3">
        <div class="work">
          <img
            class=""
            src="https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col md-4 mt-2">
        <div class="work">
          <img
            class=""
            src="https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt=""
          />
        </div>
      </div>
      <div class="col md-8 mt-3">
        <div>
          <h2 class="fs-3">3 :- PROJECT DETAILS</h2>
          <hr />
          <p class="fs-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
            quis, possimus magnam corporis voluptates tempora iste cum expedita
            in. Repellat, accusamus quos culpa veritatis consectetur officia
            autem alias blanditiis qui?Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Tempore quis, possimus magnam corporis voluptates
            tempora iste cum expedita in. Repellat, accusamus quos culpa
            veritatis consectetur officia autem alias blanditiis qui?Lorem ipsum
            dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br /><br />

  <!-- service -->
  <section>
    <div class="container">
      <h2>My Services</h2>
      <hr />
      <br />
      <div class="row" style="display: flex">
        <div class="col-md-4 mt-3">
          <div class="info" style="width: 98%; background-color: #543a14">
            <img
              src="code.png"
              alt=""
              height="100px"
              style="padding-top: 2rem"
            />
            <br /><br />
            <h4>
              <b><font>WEB DEVELOPMENT</font></b>
            </h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
              rerum odio perspiciatis, quisquam eius dolor, natus recusandae
              repellat autem tempore consectetur animi illum ipsam facere
              perferendis illo odit pariatur dolorem!
            </p>
            <br />
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="info" style="width: 98%; background-color: #543a14">
            <img
              src="code1.png"
              alt=""
              height="100px "
              style="padding-top: 2rem"
            />
            <br /><br />
            <h4>
              <b><font>WORDPRESS DEVELOPER</font></b>
            </h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
              rerum odio perspiciatis, quisquam eius dolor, natus recusandae
              repellat autem tempore consectetur animi illum ipsam facere
              perferendis illo odit pariatur dolorem!
            </p>
            <br />
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="info" style="width: 98%; background-color: #543a14">
            <img
              src="code2.png"
              alt=""
              height="100px"
              style="padding-top: 2rem"
            />
            <br /><br />
            <h4>
              <b><font>WEB DESGINES</font></b>
            </h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
              rerum odio perspiciatis, quisquam eius dolor, natus recusandae
              repellat autem tempore consectetur animi illum ipsam facere
              perferendis illo odit pariatur dolorem!
            </p>
            <br />
          </div>
        </div>
      </div>
    </div>
  </section>
  <br /><br /><br />

  <!-- Some text -->
  <h3 align="center">First, solve the problem. Then, write the code</h3>
</main>

<!-- I work some people -->
<div class="container">
  <div class="title">
    <div class="fs-3 pt-3">
      <h2>Testimonials</h2>
      <p class="fs-5">People I've worked with have said some nice things...</p>
    </div>
  </div>

  <div class="slick-slider">
    <div class="row">
      <div class="col-md-4 mt-5" style="padding-left: 7rem">
        <img
          src="https://thefrisky.com/wp-content/uploads/2019/01/round-photo-1.png"
          alt=""
          style="
            height: 150px;
            border-radius: 73px;
            border: 1.5px solid rgba(245, 245, 245, 0.2);
            background: transparent;
            box-shadow: 0 25px 50px rgba(79, 77, 77, 0.2);
          "
        />
      </div>
      <div class="col-md-8 mt-5">
        <p class="">
          "Matt's a clear communicator with the tenacity and confidence to
          really dig in to tricky design scenarios and the collaborative
          friction that's needed to produce excellent work."
        </p>
        <h4 class="fw-bold">Pascal Tremblay</h4>
        <h6>Creative Lead, Good Kind</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mt-5">
        <img
          src="https://www.pngall.com/wp-content/uploads/5/Profile-Male-PNG.png"
          alt=""
        />
      </div>
      <div class="col-md-8 mt-5">
        <p class="">
          “Matt's a clear communicator with the tenacity and confidence to
          really dig in to tricky design scenarios and the collaborative
          friction that's needed to produce excellent work.”
        </p>
        <h4 class="fw-bold">Alvin Engler</h4>
        <h6>CEO, West Third Enterprises, Inc.</h6>
      </div>
    </div>
    <div><img src="" alt="" /></div>
  </div>
</div>

<script></script>
