<!-- Heading -->
<main>
  <section>
    <div class="container mt-5">
      <h1>
        Hello, I'm <br />
        a Fullstack Developer
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing <br />
        aliquam minima dignissimos? est laborum saepe <br />
        tenetur facere?
      </p>
      <button><a href=""></a>Hire Me</button>
    </div>
  </section>
  <br /><br /><br /><br />
  <!-- service -->
  <section>
    <div class="container">
      <h2>My Services</h2>
      <hr />
      <br />
      <div class="row" style="display: flex">
        <div class="col-md-4 mt-3">
          <div class="info" style="width: 98%; background-color: #543a14">
            <img src="code.png" alt="" height="100px" />
            <br /><br />
            <h4>
              <b><font>WEB DEVELOPMENT</font></b>
            </h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
              rerum odio perspiciatis, quisquam eius dolor, natus recusandae
              repellat autem tempore consectetur animi illum ipsam facere
              perferendis illo odit pariatur dolorem!
            </p>
            <br />
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="info" style="width: 98%; background-color: #543a14">
            <img src="code1.png" alt="" height="100px" />
            <br /><br />
            <h4>
              <b><font>WORDPRESS DEVELOPER</font></b>
            </h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
              rerum odio perspiciatis, quisquam eius dolor, natus recusandae
              repellat autem tempore consectetur animi illum ipsam facere
              perferendis illo odit pariatur dolorem!
            </p>
            <br />
          </div>
        </div>
        <div class="col-md-4 mt-3">
          <div class="info" style="width: 98%; background-color: #543a14">
            <img src="code2.png" alt="" height="100px" />
            <br /><br />
            <h4>
              <b><font>WEB DESGINES</font></b>
            </h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
              rerum odio perspiciatis, quisquam eius dolor, natus recusandae
              repellat autem tempore consectetur animi illum ipsam facere
              perferendis illo odit pariatur dolorem!
            </p>
            <br />
          </div>
        </div>
      </div>
    </div>
  </section>
  <br /><br /><br />
  <!-- Some text -->
  <h3 align="center">First, solve the problem. Then, write the code</h3>
</main>
